@use '../1-settings/' as settings;
@use '../2-tools/' as tools;

.features {
  margin-block-start: tools.px-to-rem(130);
  scroll-margin-top: tools.px-to-rem(116);

  &__tagline {
    font-size: tools.px-to-rem(12);
    font-weight: 700;
    color: settings.$color-slate-500;
  }

  &__title {
    max-inline-size: tools.px-to-rem(577);
    margin-block-start: tools.px-to-rem(18);
    font-size: tools.px-to-rem(42);
    font-weight: 700;
    line-height: 1.333;
    color: settings.$color-black-900;
  }

  &__subtitle {
    max-inline-size: tools.px-to-rem(590);
    margin-block-start: tools.px-to-rem(18);
    font-size: tools.px-to-rem(18);
    color: settings.$color-slate-500;
  }

  &__list {
    display: flex;
    gap: tools.px-to-rem(200);
    margin-block-start: tools.px-to-rem(80);
  }

  @include tools.respond-max(laptop) {
    &__list {
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: tools.px-to-rem(48);
    }
  }

  @include tools.respond-max(mobile) {
    &__list {
      flex-direction: column;
      align-items: center;
      gap: tools.px-to-rem(96);
      text-align: center;
    }
  }
}

.feature-card {
  max-inline-size: tools.px-to-rem(224);

  &__title {
    margin-block-start: tools.px-to-rem(26);
    font-size: tools.px-to-rem(20);
    font-weight: 600;
    color: settings.$color-black-900;
  }

  &__description {
    margin-block-start: tools.px-to-rem(16);
    font-size: tools.px-to-rem(16);
    line-height: 1.688;
    color: settings.$color-slate-500;
  }

  @include tools.respond-max(mobile) {
    &__icon-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
